* {
    background-image: url('images/beer_background.jpg')
}

.hidden {
    display: none;
}

header {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    background-image: url('images/beer-header.jpg');
    background-repeat: repeat-x;
    height: 140px;
}

.ui-menu {
    width: 150px;
}

#button {
    margin: 10px 10px 0px 0px;
}

#menu1 ul
{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

#menu1 li
{
    list-style: none;
    width: 150px;
}

.left {
    width: 200px;
    float: left;
}


.columns {
    margin: 0 auto;
}

#credit1 {
    display: none;
}

.right {
    width: 500px;
    height: 500px;
    float: left;
}